.pushpage {


  .toolbar-background {

  border-color: transparent;
}

.slide-zoom {
  height: 100%;
}

.slide-title {
  margin-top: 20% auto;
}

.slide-image {
  max-height: 70%;
  max-width: 70%;
  margin: 1em 0;
}

.slide-image1 {
  max-height: 80%;
  max-width: 80%;

}

.slide-image2 {
  max-height: 70%;
  max-width: 70%;
  margin: 1em 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 3.5em;
  font-size: 0.8em;
  line-height: 1.5;
  color: #60646B;

  b {
    color: #000000;
  }

}

img {
  padding-top: 10%;
}
}
