.video{
  background-color: rgba(0, 0, 0, 0.4);

  .vid-container{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  iframe{
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
  }

}
